extends ../../pages/views/page.pug

include widgets/launch.pug
include widgets/configs.pug
include widgets/viewports.pug
include widgets/results.pug
include widgets/screenshot.pug
include widgets/colorpicker.pug

append head
  link(rel='stylesheet', href='/'+ modulePath + '/layout.css')

append breadcrumbs
  li.header-breadcrumb
    a.header-breadcrumb-link(href='/'+ modulePath + '/')= module.name
  if locals.config && config.name
    li.header-breadcrumb
      a.header-breadcrumb-link(href='/'+ modulePath + '/')=__(config.name)
    if locals.queryCase
      li.header-breadcrumb
        .header-breadcrumb-label= queryCase
        if locals.queryStep
          li.header-breadcrumb
            .header-breadcrumb-label= queryStep

block content
  #e2e.e2e
    .flex-row
      h1#headline.headline.flex-left
        + launch()
    .flex-row
      .flex-left
        + configs()
        + results()
      .flex-center
        if locals.results && locals.queryCase && locals.queryStep && results.testCases[queryCase] && results.testCases[queryCase].steps[queryStep] && results.testCases[queryCase].steps[queryStep].verticalScrollbar
          .image-legend(style= 'width: ' + (results.viewports[queryViewport].width) + 'px;')
            .image-legend-left
              + viewports()
            .image-legend-right
              + colorpicker()
          - width = results.viewports[queryViewport].width + (results.testCases[queryCase].steps[queryStep].verticalScrollbar[queryViewport] ? 12 : 0)
          #image-container.image-container(style= 'width: ' + width + 'px; max-width: ' + (width + 10) + 'px; height: ' + results.viewports[queryViewport].height + 'px;')
            + screenshot()
            canvas#imgCanvas.imgCanvas.hidden(
              width=results.viewports[queryViewport].width,
              height=results.viewports[queryViewport].height,
              data-click-color=".colorpicker-color"
            )
        else
          if !locals.results
            h2.no-result
              = __('No Results')
    if locals.results && locals.queryCase && locals.queryStep && results.testCases[queryCase] && results.testCases[queryCase].steps[queryStep]
      pre#queryStep.queryStep= 'stepConfig = ' + JSON.stringify(results.testCases[queryCase].steps[queryStep], null, 2)
  #output.modalLayer.hidden&attributes({ 'data-toggle': '#output' })
    #output-content.modalLayer-content

append footer
  script(src='/'+ modulePath + '/script.js')
