extends page/index.pug

block content
  div#app.app

    h1#headline.headline= config.name

    div#config.config
      ul#testCases.testCases
        each testCase in config.testCases
          li.testCase
            h3.testCase-name= testCase.name
            ul.testCase-steps
              each step in testCase.steps
                li.testCase-step
                  if queryStep == step.name
                    strong= step.name
                  else
                    a(href='/app/' + configFile + '?step=' + encodeURIComponent(step.name))= step.name

      if queryStep
        each testCase in config.testCases
          each step in testCase.steps
            if queryStep == step.name
              pre#queryStep.queryStep= JSON.stringify(step, null, 2)
        img(src= '/' + config.dumpDir + queryStep + '.png')

    div#results= results.status

    ul#configs.configs
      each files, label in configs
        if files
          li.config= label
            ul.config-files
              each file in files
                li.config-file
                  a(href='/app/' + file)= file
