extends page/index.pug

block content
  #app.app

    #header.header
      h1#headline.headline= config.name + ': ' + queryCase

      ul#configs.configs
        each files, label in configs
          if files
            li.config
              span.label= label
              ul.config-files
                each file in files
                  li.config-file
                    if configFile == file
                      strong= file
                    else
                      a(href='/app/' + file)= file

    div#config.config
      if results && results.testCases
        ul#testCases.testCases
          each testCase, testCaseName in results.testCases
            h3.testCase-name= testCaseName
            li.testCase
              ul.testCase-steps
                each step, label in testCase.steps
                  li(class='testCase-step' + (step.errors.length > 0 ? ' error' : ''))
                    if queryStep == label
                      strong= label
                    else
                      a(href='/app/' + configFile + '?case=' + encodeURIComponent(testCaseName) + '&step=' + encodeURIComponent(label))= label
                    if step.errors
                      each error in step.errors
                        .error.small=error
      else if results && results.status == 'not executed'
        h4 -
      else
        h4 keine Ergebisse

    if results && queryCase && queryStep && results.testCases[queryCase]
      pre#queryStep.queryStep= JSON.stringify(results.testCases[queryCase].steps[queryStep], null, 2)
      #image-container.image-container
        img.screenshot(src= '/' + resultsPath + '/' + queryCase + '/' + queryStep + '.png')
        - var clickRect = results.testCases[queryCase].steps[queryStep].clickRect
        if clickRect
          .clickRect(style='left: ' + clickRect.x + '; top: ' + clickRect.y + '; width: ' + clickRect.width + '; height: ' + clickRect.height + ';')
