extends page/index.pug

block content
  div#app.app

    h1#headline.headline= config.name

    div#config.config
      if results
        ul#testCases.testCases
          each testCase, name in results.testCases
            li.testCase
              h3.testCase-name= name
              ul.testCase-steps
                each step, label in testCase
                  li(class='testCase-step' + (step.errors.length > 0 ? ' error' : ''))
                    if queryStep == label
                      strong= label
                    else
                      a(href='/app/' + configFile + '?case=' + encodeURIComponent(name) + '&step=' + encodeURIComponent(label))= label
                    if step.errors
                      each error in step.errors
                        .error.small=error
      else
        h4 keine Ergebisse

    if results && queryCase && queryStep
      pre#queryStep.queryStep= JSON.stringify(results.testCases[queryCase][queryStep], null, 2)
      img.screenshot(src= '/' + config.dumpDir + queryStep + '.png')

    ul#configs.configs
      each files, label in configs
        if files
          li.config
            span.label= label
            ul.config-files
              each file in files
                li.config-file
                  a(href='/app/' + file)= file
