extends page/index.pug

block content
  #app.app

    #header.header.flex-row
      h1#headline.headline.flex-left
        if configFile
          span.launch&attributes({
            title: 'starten',
            'data-xhr': '/run/' + configFile,
            'data-xhr-response': '#output-content',
            'data-toggle': '#output'
          })= config.name
          if queryCase
            span= ' - ' + queryCase
            if queryStep
              span= ': ' + queryStep
        else
          | Keine Config geladen

    .flex-row
      ul#configs.configs.flex-right
        each config, label in configs
          li.config
            - viewportName = queryViewport || Object.keys(config.viewports)[0]
            if configFile == config.filename
              h3= label
            else
              h3
                a(href='/app/' + config.filename + '?viewport=' + encodeURIComponent(viewportName))= label
            if config.summary && config.summary.fail > 0
              = ': '
              h3.error= config.summary.fail + ' Fehler'
            if locals.results && locals.results.testCases
              ul.testCases
                each testCase, testCaseName in results.testCases
                  h4.testCase-name= testCaseName
                  li.testCase
                    ul.testCase-steps
                      each step, label in testCase.steps
                        li(class='testCase-step' + (step.errors.length > 0 ? ' error' : ''))
                          if queryStep == label
                            strong= label
                          else
                            a(href='/app/'
                              + configFile
                              + '?viewport=' + encodeURIComponent(viewportName)
                              + '&case=' + encodeURIComponent(testCaseName)
                              + '&step=' + encodeURIComponent(label)
                            )= label
                          if step.errors
                            each error in step.errors
                              .error.small=error

      .flex-center
        if results && queryCase && queryStep && results.testCases[queryCase]
          ul#viewportList.viewportList
            each viewportSize, viewportName in config.viewports
              li.viewport
                if queryViewport == viewportName
                  = viewportName
                else
                  a(href='/app/'
                    + configFile
                    + '?viewport=' + encodeURIComponent(viewportName)
                    + '&case=' + encodeURIComponent(queryCase)
                    + '&step=' + encodeURIComponent(queryStep)
                  )= viewportName

          #image-container.image-container(style= 'width: ' + (results.viewports[queryViewport].width) + 'px; max-width: ' + (results.viewports[queryViewport].width) + 'px; height: ' + results.viewports[queryViewport].height + 'px;')
            img.screenshot(src= '/' + resultsPath + '/' + queryViewport + '/' + queryCase + '/' + queryStep + '.png')
            - var clickRect = results.testCases[queryCase].steps[queryStep].clickRect
            if clickRect
              .clickRect(style='left: ' + clickRect.x + '; top: ' + (clickRect.y - (clickRect.scrollTop || 0)) + '; width: ' + clickRect.width + '; height: ' + clickRect.height + ';')
          pre#queryStep.queryStep= 'stepConfig = ' + JSON.stringify(results.testCases[queryCase].steps[queryStep], null, 2)

  #output.modalLayer.hidden&attributes({ 'data-toggle': '#output' })
    #output-content.modalLayer-content

append footer
  script(src='/js/app.js')
