extends page/index.pug

block content
  div#app.app

    h1#headline.headline= config.name

    div#config.config
      ul#testCases.testCases
        each testCase in config.testCases
          li.testCase
            h3.testCase-name= testCase.name
            ul.testCase-steps
              each step, label in testCase.steps
                li.testCase-step
                  if queryStep == label
                    strong= label
                  else
                    a(href='/app/' + configFile + '?step=' + encodeURIComponent(label))= label

    if queryStep
      pre#queryStep.queryStep= JSON.stringify(config.testCases[0].steps[queryStep], null, 2)
      img.screenshot(src= '/' + config.dumpDir + queryStep + '.png')

    ul#configs.configs
      each files, label in configs
        if files
          li.config
            span.label= label
            ul.config-files
              each file in files
                li.config-file
                  a(href='/app/' + file)= file
