extends page/index.pug

block content
  #app.app

    #header.header.flex-row
      h1#headline.headline.flex-left
        if configFile
          span.launch&attributes({
            title: 'starten',
            'data-xhr': '/run/' + configFile,
            'data-xhr-response': '#output-content',
            'data-toggle': '#output'
          })= config.name
          if queryCase
            span= ' - ' + queryCase
            if queryStep
              span= ': ' + queryStep
        else
          | Keine Config geladen

      ul#configs.configs.flex-right
        each config, label in configs
          li.config
            if configFile == config.filename
              strong= label
            else
              a(href='/app/' + config.filename)= label
            if config.summary && config.summary.fail > 0
              = ': '
              strong.error= config.summary.fail + ' Fehler'

    .flex-row
      if config && config.viewports
        ul#viewports.viewports.flex-left
          each viewportSize, viewportName in config.viewports
            li.viewport
              h2.viewportName
                a(href='/app/'
                  + configFile
                  + '?viewport=' + encodeURIComponent(viewportName)
                )= viewportName
              if queryViewport == viewportName
                .config
                  if results && results.testCases
                    ul.testCases
                      each testCase, testCaseName in results.testCases
                        h3.testCase-name= testCaseName
                        li.testCase
                          ul.testCase-steps
                            each step, label in testCase.steps
                              li(class='testCase-step' + (step.errors.length > 0 ? ' error' : ''))
                                if queryStep == label
                                  strong= label
                                else
                                  a(href='/app/'
                                    + configFile
                                    + '?viewport=' + encodeURIComponent(viewportName)
                                    + '&case=' + encodeURIComponent(testCaseName)
                                    + '&step=' + encodeURIComponent(label)
                                  )= label
                                if step.errors
                                  each error in step.errors
                                    .error.small=error
                  else if results && results.status == 'not executed'
                    h4 -
                  else
                    h4 keine Ergebisse

      .flex-center
        if results && queryCase && queryStep && results.testCases[queryCase]
          pre#queryStep.queryStep= 'stepConfig = ' + JSON.stringify(results.testCases[queryCase].steps[queryStep], null, 2)
          #image-container.image-container(style= 'max-width: ' + (queryViewport.width+20) + 'px; height: ' + queryViewport.height + 'px;')
            img.screenshot(src= '/' + resultsPath + '/' + queryViewport + '/' + queryCase + '/' + queryStep + '.png')
            - var clickRect = results.testCases[queryCase].steps[queryStep].clickRect
            if clickRect
              .clickRect(style='left: ' + clickRect.x + '; top: ' + (clickRect.y - clickRect.scrollTop) + '; width: ' + clickRect.width + '; height: ' + clickRect.height + ';')

  #output.modalLayer.hidden&attributes({ 'data-toggle': '#output' })
    #output-content.modalLayer-content

append footer
  script(src='/js/app.js')
