//- widgets/form/group.pug
mixin group(label, groupname, fields, posttext)
  .field(class='field_' + groupname)
    .field-label= __(label)
    .field-value
      .field-value-group
        each field in fields
          .field-value-group-input(class='field_' + (field.class ? field.class : field.name))
            if (field.type === 'select')
              select.input-select(
                    id=field.name,
                    name=field.name
                  )
                each label, value in field.options
                  option(
                    value=value,
                    selected=(value == values[field.name])
                  )= __(label)
            else
              if field.options
                - i = 0
                each label, value in field.options
                  input(
                    class='input-' + field.type,
                    type=field.type,
                    name=field.name,
                    value=value,
                    id=field.name + i,
                    checked=(field.type == 'radio' && value == values[field.name])
                  )
                  label(class=field.type + '-label', for=field.name + i++)= __(label)
              else
                - placeholder = ''
                if field.placeholder
                  - placeholder = __(field.placeholder)
                input(
                  class='input-' + field.type,
                  type=field.type,
                  id=field.id || field.name,
                  name=field.name,
                  value=(field.type !== 'checkbox' ? values[field.name] : field.value),
                  checked=(field.type == 'checkbox' && values[field.name] && values[field.name].indexOf(field.value) >= 0),
                  placeholder=placeholder
                )&attributes(field.attr)
                if field.label
                  label(class=field.type + '-label', for=field.id || field.name)= __(field.label)
          if posttext
            .field-value-posttext
              label(class=attr.type + '-label', for=attr.name)= __(posttext)
